.chatRoom {
  width: 100%;
  display: flex;
}

.chatContainer {
  width: 85%;
  display: flex;
}
.chatUser {
  width: 25%;
  border-right: 0.5px solid rgb(230, 227, 227);
  margin-right: 10px;
}

.chatUserTitle {
  display: flex;
  justify-content: center;
  background-color: blue;
  color: azure;
  padding: 10px 0;
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
}
.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chatItem {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  background-color: rgb(228, 228, 228);
  padding: 10px;
}

.chatInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgb(228, 228, 228);
  padding: 5px;
}
.chatItem:hover {
  background-color: rgb(187, 187, 187);
}
.chatactive {
  background-color: rgb(187, 187, 187);
}

.chatContent {
  width: 100%;
}
.admin {
  display: flex;
  font-style: italic;
  color: white;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}
.admin div {
  background-color: rgb(0, 115, 255);
  padding: 5px 10px;
  max-width: 300px;
  border-radius: 5px;
  display: inline-block;
}

.customer {
  font-style: italic;
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px 0;
}

.customer div {
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 300px;
}
.btn {
  height: 50px;
  width: 70px;
  display: block;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  margin-left: 5px;
}
.btn:hover {
  background-color: rgb(180, 193, 230);
}

.contentArea {
  margin-top: 10px;
  height: 800px;
  overflow: auto;
}
.sendChat {
  display: flex;
}
.sendChat textarea {
  margin-left: 10px;
  width: 80%;
}
/* Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
  .avatar {
    height: 30px;
    width: 30px;
  }

  .chatUser p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .avatar {
    height: 20px;
    width: 20px;
  }

  .chatUser p {
    font-size: 15px;
    max-width: 100px;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 480px) {
  .chatUser p {
    max-width: 60px;
    font-size: 13px;
  }
}
